div.search {
	width: 720px;
	height: 100%;
	font-family: Helvetica;
	margin: auto;
	padding: 1% 0% 1% 0%;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.9);
	border: 1px dotted black;
}

div.search_form {
	display: table;
	margin: 0 auto;
	padding: 1% 5% 1% 5%;
	border: 1px solid black;
}

div.search_form h2 {
	margin: 0;
}

p.error {
	color: red;
}

div.song_list {
	height: 600px;
	overflow: auto;
	margin-top: 5%;
}

div.song_list h2 {
	padding-left: 5%;
}

div.song {
	border: 1px dotted black;
	width: 90%;
	padding-left: 1%;
	margin: 0 auto;
}