.search {
	width: 720px;
	height: 100%;
	font-family: Helvetica;
	margin: auto;
	padding: 1% 0% 1% 0%;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.9);
	border: 1px dotted black;
}

.search_form {
	display: table;
	margin: 0 auto;
	padding: 1% 5% 1% 5%;
	border: 1px solid black;
}

.search_form h2 {
	margin: 0;
}

p.error {
	color: red;
}